#pause-button {
  position: fixed;
  right: 1rem;
  top: 1rem;
  height: 1.5rem;
  width: 1.5rem;
  background-color: transparent;
  border: 0px;
  box-shadow: none;
}

#pause-display:has(h2) {
  position: fixed;
  inset: 50%;
  translate: -50% -50%;
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  background-color: var(--bg);
  backdrop-filter: blur(10px);
  border: 1px solid var(--snake-color);
  border-radius: 8px;
  color: var(--snake-color);
  gap: 2rem;
  z-index: 10;
  padding: 1rem 2rem;
}

#pause-display > h2 {
  text-align: center;
}

.pause-control {
  display: flex;
  gap: 1rem;
  width: 100%;
}

.pause-control > button {
  width: 100%;
  backdrop-filter: blur(2px);
  background-color: var(--snake-color);
  color: var(--text);
  border-radius: 4px;
  border: 1px solid var(--screen-border);
  padding: 0.5rem 2rem;
  font-family: var(--mono);
  font-weight: bold;
  transition: opacity 250ms linear;

  &:hover {
    opacity: 0.8;
    cursor: pointer;
  }
}
